build/
*.egg-info
jobs/
bugs.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
opensuse_mail/*/*.py[cod]
opensuse_mail/spiders/*/*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg